node_modules

# Modules should be installed on Docker containers; ignore local package-lock.json files
package-lock.json
nextjs-with-apollo/package-lock.json
photo-share-api/package-lock.json
photo-share-client/package-lock.json

# Docker and related assets
photo-share-api/.docker
photo-share-api/assets

# Build
nextjs-with-apollo/.next

# Presentations
__presentations/node_modules
__presentations/dist
