node_modules

# Docker and related assets
photo-share-api/.docker
photo-share-api/assets

# Environment variables
nextjs-with-apollo/.env
photo-share-api/.env
photo-share-client/.env

# Build
nextjs-with-apollo/.next