  'graphql-web':
    build:
      context: ./photo-share-client
      dockerfile: ./Dockerfile.dev
    container_name: 'graphql-web'
    command: ./node_modules/.bin/react-scripts start
    ports:
      - "3001:3000"
    # If you want local changes to update in the Docker container...
    volumes:
      - ./photo-share-client:/usr/src
    depends_on:
      - graphql-api